body{
    min-height: 20vh;
    display: block;
    align-content: center;
    justify-content: center;
    background-color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    width:100%;
}

.usps{
    height: 3rem;
    padding-left: 20px;
}

.application{
    background-color: rgb(181, 211, 230);
    padding-left: 15px;
    height: 40px;
    margin-bottom: 30px;
    border: 1px solid;
    box-sizing: border-box;
    border-color: rgb(142, 194, 226);
}

.app-note{
    margin-top: 5px;
}

.pd{
    padding-left: 15px;
    color: rgb(6, 6, 148);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

.Personal-Data{
    color: rgb(36, 36, 161);
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    word-spacing: 0.5px;
    font-size: 12px;
    line-height: 1.4;
    padding-left: 15px;
    margin-bottom: 20px;
    width: 1200px;
}
.pd-question{
    margin-bottom: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
}

form{
    padding-left: 20px;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    /* margin-right: 100px; */
}
.name{
    font-size: 1px;
    font-weight: normal;
    justify-content: center;
    align-content: center;
}

.city{
    color: rgb(36, 36, 161);
}

.Residence-addy{
    color: rgb(36, 36, 161);
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    width: 180px;
}
.mn{
    color: rgb(36, 36, 161);
}
.Mail-addy{
    color: rgb(36, 36, 161);
}
.email-note{
    color: rgb(36, 36, 161);
    width: 400px;
}
input, select, textarea{
    box-sizing: border-box;
    margin-bottom: 10px;
}

label{
    margin-right: 50px;
    margin-bottom: 20px;
}

input{
    align-content: center;
    justify-content: center;
    margin-right: 30px;
}

.pnumber-note{
    color: rgb(36, 36, 161);
}

.phone-note{
    color: rgb(36, 36, 161);
}

.back{
    background-color: rgb(243, 225, 178);
    cursor: pointer;
    color: black;
    border-width: 1px;
}
.back:active{
    color: white;
    background-color: darkgoldenrod;
}

.next{
    background-color: rgb(243, 225, 178);
    cursor: pointer;
    color: black;
    border-width: 1px;
}
.next:active{
    color: white;
    background-color: darkgoldenrod;
}

.container{
    padding-left: 20px;
    font-size: 12px;
    font-weight: normal;
}